<div class="jumbotron">
	<h1>未完成交易--詳細資料</h1>
</div>
<div class="container">
	<table class="table table-striped" style="background-color: white; padding:15px; ">
		<tr>
			<th>標題</th>
			<th>物品</th>
			<% if @post.user_id != session[:verify] %>
				<th>排/總人數</th>
			<% else %>
				<th>幾個人排</th>
			<% end %>
			<th>種類</th>
			<th>價格</th>
			<th>補充說明</th>
		</tr>
		<tr>
			<td><%= @post.title %></td>
			<td><%= image_tag @post.avatar.url,class: "imagepls"%></td>
			<% if @post.user_id != session[:verify] %>
				<td><%= @post.userposts.where(user_id:session[:verify])[0].order %> / <%= @post.userposts.size %></td>
			<% else %>
				<td><%= @post.userposts.size %></td>
			<% end %>
			<td><%= @post.itype %></td>
			<td><%= @post.price %></td>
			<td><%= @post.content %></td>
		</tr>
	</table>
	<% if @post.user_id == session[:verify] and @paipeople.size != 0%>
		<table class="table table-striped" style="background-color: white; padding:15px; ">
			<tr>
				<th>購買者</th>
				<th>排第幾</th>
				<th>信箱</th>
				<th>賣給他</th>
				<th>下一位</th>
			</tr>
			<tr>
				<% buyer = @paipeople.first %>
				<td><%= buyer.user.name %></td>
				<td><%= buyer.order %></td>
				<td><%= buyer.user.email %></td>
				<td><%= link_to "販賣", { controller: "posts" , action: "not_finish_sell" , post_id: params[:id],buyer_id: buyer.user_id }, :data => { :confirm => "確定要賣嗎？賣了就不能反悔哦！"  }%></td>
				<td><%= link_to "下一位", userpost_path(buyer,post_id: params[:id]),method: :delete %></td>
			</tr>
		</table>
	 <% end %>
	<br>
	<%= link_to "Back", posts_not_finish_path,class: "btn btn-warning" %>
</div>