<div class="jumbotron">
	<h1>未完成交易</h1>
</div>
<div class="container">
	<h3>還沒賣出的商品</h3>
	<table class="table table-striped" style="background-color: white; padding:15px; ">
		<tr>
			<th>標題</th>
			<th>物品</th>
			<th>幾個人排</th>
			<th>種類</th>
			<th>價格</th>
			<th>功能</th>
			<th></th>
			<th></th>
		</tr>
		<% @n_sell.each do |n| %>
			<tr>
				<td><%= n.title %></td>
				<td><%= image_tag n.avatar.url ,class: "imagepls"%></td>
				<td><%= n.userposts.size %></td>
				<td><%= n.itype %></td>
				<td><%= n.price %></td>
				<td><%= link_to "詳細內容", controller: "posts", action: "not_finish_show", id: n %></td>
				<td><%= link_to "修改貼文", controller: "posts", action: "edit", id: n %></td>
				<td><%= link_to "刪除貼文", post_path(n), :method => :delete, :data => { :confirm => "Are you sure?" }  %></td>
			</tr>
		<% end %> 
	</table>
	<h3>正在排的商品</h3>
	<table class="table table-striped" style="background-color: white; padding:15px; ">
		<tr>
			<th>標題</th>
			<th>物品</th>
			<th>排/總人數</th>
			<th>種類</th>
			<th>價格</th>
			<th>功能</th>
			<th></th>
		</tr>
		<% @buy.each do |n| %>
			<% n.posts.each do |m| %>
				<% if !m.is_sold %>
				<tr>
					<td><%= m.title %></td>
					<td><%= image_tag m.avatar.url ,class: "imagepls"%></td>
					<td><%= n.order %> / <%= m.userposts.size %></td>
					<td><%= m.itype %></td>
					<td><%= m.price %></td>
					<td><%= link_to "詳細內容", controller: "posts", action: "not_finish_show",id: m %></td>
					<td><%= link_to "不排了", {controller: "userposts", action: "buyer_destroy",post_id: m ,id:n}%>
				</tr>
				<% end %> 
			<% end %> 
		<% end %> 
	</table>
	<%= link_to "Back" ,posts_path,class: "btn btn-warning" %>
</div>