<div class="container" style="background-color: #eee; border-radius: 5px;padding:20px; transform: translate(0,25px); text-align: center">
<p id="notice"><%= notice %></p>
<%= image_tag @posts.avatar.url ,class: "imagepls_inside"%>
<p>
  <strong>Title:</strong>
  <%= @posts.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @posts.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @posts.price %>
</p>
<p>
  <strong>Click:</strong>
  <%= @posts.tclick %>
</p>

<p>
  <strong>Location:</strong>
  <%= @posts.location %>
</p>
<% if !@posts.is_sold %>
目前有<%= @posts.userposts.size %>個人在排
<% end %>
<% if @same_user == false and @buy_twice == false %>
  <%= link_to '我想排', userposts_path(pid:@posts.id) , :method => :post , class: "btn btn-primary" %>
<% end %>
<% if @same_user == true %>
  <p>你的貼文唷</p>
<% end %>
<% if @buy_twice == true %>
  <p>已經排過了</p>
<% end %>

<%= link_to 'Back', posts_path , class: "btn btn-primary"%>


</div>