<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @posts.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @posts.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @posts.price %>
</p>
<p>
  <strong>Click:</strong>
  <%= @posts.tclick %>
</p>

<p>
  <strong>Location:</strong>
  <%= @posts.location %>
</p>

<%= link_to '我想排', userposts_path(pid:@posts.id) , :method => :post %>
<%= @same_user %>
<%= @buy %>
<%= @sell %>
<%= link_to 'Back', posts_path %>

